<div class='#'>
  <div class='#'>タイトル：
    <%= @question.title %>
  </div>
  <div class='#'>投稿者名：
    <%= @question.post_user %>
  </div>
  <div class='#'>質問内容：
    <%= @question.question %>
  </div>
</div>